body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.post {
		padding: 20px 0;
	}

	.title > h2 {
		line-height: 1em;
        margin: 0 0 20px;
	}

	.title > h2 > a {
		vertical-align: top;
	}

	.thumbnails,
	.thumbnails > .thumbnail {
		margin-left: 0;
	}
    
    .entry img {
        margin: 30px 0;    
    }
    
    .author, .date, .tags {
        margin-bottom: 1em;    
    }