body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.post {
	padding: 15px 0;
}

.title > h2 {
	line-height: 1em;
     margin: 0 0 20px;
     color: #2D6CA2;
}

.date {
    margin-bottom: 1em;  
    color: #2D6CA2;  
 }
